@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  .react-chatbot-kit-chat-container {
    position: relative;
    width: 750px;
    height: 100vh;
    .react-chatbot-kit-chat-inner-container {
      height: 100vh;
      overflow: hidden;
    }
  }
  .react-chatbot-kit-chat-message-container {
    height: calc(100vh - 30px);
    overflow: scroll;
  }
  .react-chatbot-kit-chat-bot-message {
    width: 600px;
    font-size: 20px;
  }
}

.react-chatbot-kit-chat-input {
  color: #000;
}

input:focus {
  outline: none;
}

button {
  background-color: #5ccc9d;
  color: #fff;
  margin: 4px;
  padding: 4px;
}
